.flg-row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
.flg-row:after {
  clear: both;
  content: ' ';
  display: block;
  height: 1px;
  margin: -1px 0 0 -1px;
  width: 1px;
}

.flg {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
}

.flg-1-1 { width: 100%; }

.flg-1-1-max { width: 100% !important; }

.flg-1-2 { width: 50%; }

.flg-1-2-max { width: 50% !important; }

.flg-ml-1-2 { margin-left: 50%; }

.flg-ml-1-2-max { margin-left: 50% !important; }

.flg-2-2 { width: 100%; }

.flg-2-2-max { width: 100% !important; }

.flg-1-3 { width: 33.33333%; }

.flg-1-3-max { width: 33.33333% !important; }

.flg-ml-1-3 { margin-left: 33.33333%; }

.flg-ml-1-3-max { margin-left: 33.33333% !important; }

.flg-2-3 { width: 66.66667%; }

.flg-2-3-max { width: 66.66667% !important; }

.flg-ml-2-3 { margin-left: 66.66667%; }

.flg-ml-2-3-max { margin-left: 66.66667% !important; }

.flg-3-3 { width: 100%; }

.flg-3-3-max { width: 100% !important; }

.flg-1-4 { width: 25%; }

.flg-1-4-max { width: 25% !important; }

.flg-ml-1-4 { margin-left: 25%; }

.flg-ml-1-4-max { margin-left: 25% !important; }

.flg-2-4 { width: 50%; }

.flg-2-4-max { width: 50% !important; }

.flg-ml-2-4 { margin-left: 50%; }

.flg-ml-2-4-max { margin-left: 50% !important; }

.flg-3-4 { width: 75%; }

.flg-3-4-max { width: 75% !important; }

.flg-ml-3-4 { margin-left: 75%; }

.flg-ml-3-4-max { margin-left: 75% !important; }

.flg-4-4 { width: 100%; }

.flg-4-4-max { width: 100% !important; }

.flg-1-5 { width: 20%; }

.flg-1-5-max { width: 20% !important; }

.flg-ml-1-5 { margin-left: 20%; }

.flg-ml-1-5-max { margin-left: 20% !important; }

.flg-2-5 { width: 40%; }

.flg-2-5-max { width: 40% !important; }

.flg-ml-2-5 { margin-left: 40%; }

.flg-ml-2-5-max { margin-left: 40% !important; }

.flg-3-5 { width: 60%; }

.flg-3-5-max { width: 60% !important; }

.flg-ml-3-5 { margin-left: 60%; }

.flg-ml-3-5-max { margin-left: 60% !important; }

.flg-4-5 { width: 80%; }

.flg-4-5-max { width: 80% !important; }

.flg-ml-4-5 { margin-left: 80%; }

.flg-ml-4-5-max { margin-left: 80% !important; }

.flg-5-5 { width: 100%; }

.flg-5-5-max { width: 100% !important; }

.flg-1-6 { width: 16.66667%; }

.flg-1-6-max { width: 16.66667% !important; }

.flg-ml-1-6 { margin-left: 16.66667%; }

.flg-ml-1-6-max { margin-left: 16.66667% !important; }

.flg-2-6 { width: 33.33333%; }

.flg-2-6-max { width: 33.33333% !important; }

.flg-ml-2-6 { margin-left: 33.33333%; }

.flg-ml-2-6-max { margin-left: 33.33333% !important; }

.flg-3-6 { width: 50%; }

.flg-3-6-max { width: 50% !important; }

.flg-ml-3-6 { margin-left: 50%; }

.flg-ml-3-6-max { margin-left: 50% !important; }

.flg-4-6 { width: 66.66667%; }

.flg-4-6-max { width: 66.66667% !important; }

.flg-ml-4-6 { margin-left: 66.66667%; }

.flg-ml-4-6-max { margin-left: 66.66667% !important; }

.flg-5-6 { width: 83.33333%; }

.flg-5-6-max { width: 83.33333% !important; }

.flg-ml-5-6 { margin-left: 83.33333%; }

.flg-ml-5-6-max { margin-left: 83.33333% !important; }

.flg-6-6 { width: 100%; }

.flg-6-6-max { width: 100% !important; }

.flg-1-7 { width: 14.28571%; }

.flg-1-7-max { width: 14.28571% !important; }

.flg-ml-1-7 { margin-left: 14.28571%; }

.flg-ml-1-7-max { margin-left: 14.28571% !important; }

.flg-2-7 { width: 28.57143%; }

.flg-2-7-max { width: 28.57143% !important; }

.flg-ml-2-7 { margin-left: 28.57143%; }

.flg-ml-2-7-max { margin-left: 28.57143% !important; }

.flg-3-7 { width: 42.85714%; }

.flg-3-7-max { width: 42.85714% !important; }

.flg-ml-3-7 { margin-left: 42.85714%; }

.flg-ml-3-7-max { margin-left: 42.85714% !important; }

.flg-4-7 { width: 57.14286%; }

.flg-4-7-max { width: 57.14286% !important; }

.flg-ml-4-7 { margin-left: 57.14286%; }

.flg-ml-4-7-max { margin-left: 57.14286% !important; }

.flg-5-7 { width: 71.42857%; }

.flg-5-7-max { width: 71.42857% !important; }

.flg-ml-5-7 { margin-left: 71.42857%; }

.flg-ml-5-7-max { margin-left: 71.42857% !important; }

.flg-6-7 { width: 85.71429%; }

.flg-6-7-max { width: 85.71429% !important; }

.flg-ml-6-7 { margin-left: 85.71429%; }

.flg-ml-6-7-max { margin-left: 85.71429% !important; }

.flg-7-7 { width: 100%; }

.flg-7-7-max { width: 100% !important; }

.flg-1-8 { width: 12.5%; }

.flg-1-8-max { width: 12.5% !important; }

.flg-ml-1-8 { margin-left: 12.5%; }

.flg-ml-1-8-max { margin-left: 12.5% !important; }

.flg-2-8 { width: 25%; }

.flg-2-8-max { width: 25% !important; }

.flg-ml-2-8 { margin-left: 25%; }

.flg-ml-2-8-max { margin-left: 25% !important; }

.flg-3-8 { width: 37.5%; }

.flg-3-8-max { width: 37.5% !important; }

.flg-ml-3-8 { margin-left: 37.5%; }

.flg-ml-3-8-max { margin-left: 37.5% !important; }

.flg-4-8 { width: 50%; }

.flg-4-8-max { width: 50% !important; }

.flg-ml-4-8 { margin-left: 50%; }

.flg-ml-4-8-max { margin-left: 50% !important; }

.flg-5-8 { width: 62.5%; }

.flg-5-8-max { width: 62.5% !important; }

.flg-ml-5-8 { margin-left: 62.5%; }

.flg-ml-5-8-max { margin-left: 62.5% !important; }

.flg-6-8 { width: 75%; }

.flg-6-8-max { width: 75% !important; }

.flg-ml-6-8 { margin-left: 75%; }

.flg-ml-6-8-max { margin-left: 75% !important; }

.flg-7-8 { width: 87.5%; }

.flg-7-8-max { width: 87.5% !important; }

.flg-ml-7-8 { margin-left: 87.5%; }

.flg-ml-7-8-max { margin-left: 87.5% !important; }

.flg-8-8 { width: 100%; }

.flg-8-8-max { width: 100% !important; }

.flg-1-9 { width: 11.11111%; }

.flg-1-9-max { width: 11.11111% !important; }

.flg-ml-1-9 { margin-left: 11.11111%; }

.flg-ml-1-9-max { margin-left: 11.11111% !important; }

.flg-2-9 { width: 22.22222%; }

.flg-2-9-max { width: 22.22222% !important; }

.flg-ml-2-9 { margin-left: 22.22222%; }

.flg-ml-2-9-max { margin-left: 22.22222% !important; }

.flg-3-9 { width: 33.33333%; }

.flg-3-9-max { width: 33.33333% !important; }

.flg-ml-3-9 { margin-left: 33.33333%; }

.flg-ml-3-9-max { margin-left: 33.33333% !important; }

.flg-4-9 { width: 44.44444%; }

.flg-4-9-max { width: 44.44444% !important; }

.flg-ml-4-9 { margin-left: 44.44444%; }

.flg-ml-4-9-max { margin-left: 44.44444% !important; }

.flg-5-9 { width: 55.55556%; }

.flg-5-9-max { width: 55.55556% !important; }

.flg-ml-5-9 { margin-left: 55.55556%; }

.flg-ml-5-9-max { margin-left: 55.55556% !important; }

.flg-6-9 { width: 66.66667%; }

.flg-6-9-max { width: 66.66667% !important; }

.flg-ml-6-9 { margin-left: 66.66667%; }

.flg-ml-6-9-max { margin-left: 66.66667% !important; }

.flg-7-9 { width: 77.77778%; }

.flg-7-9-max { width: 77.77778% !important; }

.flg-ml-7-9 { margin-left: 77.77778%; }

.flg-ml-7-9-max { margin-left: 77.77778% !important; }

.flg-8-9 { width: 88.88889%; }

.flg-8-9-max { width: 88.88889% !important; }

.flg-ml-8-9 { margin-left: 88.88889%; }

.flg-ml-8-9-max { margin-left: 88.88889% !important; }

.flg-9-9 { width: 100%; }

.flg-9-9-max { width: 100% !important; }

.flg-1-10 { width: 10%; }

.flg-1-10-max { width: 10% !important; }

.flg-ml-1-10 { margin-left: 10%; }

.flg-ml-1-10-max { margin-left: 10% !important; }

.flg-2-10 { width: 20%; }

.flg-2-10-max { width: 20% !important; }

.flg-ml-2-10 { margin-left: 20%; }

.flg-ml-2-10-max { margin-left: 20% !important; }

.flg-3-10 { width: 30%; }

.flg-3-10-max { width: 30% !important; }

.flg-ml-3-10 { margin-left: 30%; }

.flg-ml-3-10-max { margin-left: 30% !important; }

.flg-4-10 { width: 40%; }

.flg-4-10-max { width: 40% !important; }

.flg-ml-4-10 { margin-left: 40%; }

.flg-ml-4-10-max { margin-left: 40% !important; }

.flg-5-10 { width: 50%; }

.flg-5-10-max { width: 50% !important; }

.flg-ml-5-10 { margin-left: 50%; }

.flg-ml-5-10-max { margin-left: 50% !important; }

.flg-6-10 { width: 60%; }

.flg-6-10-max { width: 60% !important; }

.flg-ml-6-10 { margin-left: 60%; }

.flg-ml-6-10-max { margin-left: 60% !important; }

.flg-7-10 { width: 70%; }

.flg-7-10-max { width: 70% !important; }

.flg-ml-7-10 { margin-left: 70%; }

.flg-ml-7-10-max { margin-left: 70% !important; }

.flg-8-10 { width: 80%; }

.flg-8-10-max { width: 80% !important; }

.flg-ml-8-10 { margin-left: 80%; }

.flg-ml-8-10-max { margin-left: 80% !important; }

.flg-9-10 { width: 90%; }

.flg-9-10-max { width: 90% !important; }

.flg-ml-9-10 { margin-left: 90%; }

.flg-ml-9-10-max { margin-left: 90% !important; }

.flg-10-10 { width: 100%; }

.flg-10-10-max { width: 100% !important; }

.flg-1-11 { width: 9.09091%; }

.flg-1-11-max { width: 9.09091% !important; }

.flg-ml-1-11 { margin-left: 9.09091%; }

.flg-ml-1-11-max { margin-left: 9.09091% !important; }

.flg-2-11 { width: 18.18182%; }

.flg-2-11-max { width: 18.18182% !important; }

.flg-ml-2-11 { margin-left: 18.18182%; }

.flg-ml-2-11-max { margin-left: 18.18182% !important; }

.flg-3-11 { width: 27.27273%; }

.flg-3-11-max { width: 27.27273% !important; }

.flg-ml-3-11 { margin-left: 27.27273%; }

.flg-ml-3-11-max { margin-left: 27.27273% !important; }

.flg-4-11 { width: 36.36364%; }

.flg-4-11-max { width: 36.36364% !important; }

.flg-ml-4-11 { margin-left: 36.36364%; }

.flg-ml-4-11-max { margin-left: 36.36364% !important; }

.flg-5-11 { width: 45.45455%; }

.flg-5-11-max { width: 45.45455% !important; }

.flg-ml-5-11 { margin-left: 45.45455%; }

.flg-ml-5-11-max { margin-left: 45.45455% !important; }

.flg-6-11 { width: 54.54545%; }

.flg-6-11-max { width: 54.54545% !important; }

.flg-ml-6-11 { margin-left: 54.54545%; }

.flg-ml-6-11-max { margin-left: 54.54545% !important; }

.flg-7-11 { width: 63.63636%; }

.flg-7-11-max { width: 63.63636% !important; }

.flg-ml-7-11 { margin-left: 63.63636%; }

.flg-ml-7-11-max { margin-left: 63.63636% !important; }

.flg-8-11 { width: 72.72727%; }

.flg-8-11-max { width: 72.72727% !important; }

.flg-ml-8-11 { margin-left: 72.72727%; }

.flg-ml-8-11-max { margin-left: 72.72727% !important; }

.flg-9-11 { width: 81.81818%; }

.flg-9-11-max { width: 81.81818% !important; }

.flg-ml-9-11 { margin-left: 81.81818%; }

.flg-ml-9-11-max { margin-left: 81.81818% !important; }

.flg-10-11 { width: 90.90909%; }

.flg-10-11-max { width: 90.90909% !important; }

.flg-ml-10-11 { margin-left: 90.90909%; }

.flg-ml-10-11-max { margin-left: 90.90909% !important; }

.flg-11-11 { width: 100%; }

.flg-11-11-max { width: 100% !important; }

.flg-1-12 { width: 8.33333%; }

.flg-1-12-max { width: 8.33333% !important; }

.flg-ml-1-12 { margin-left: 8.33333%; }

.flg-ml-1-12-max { margin-left: 8.33333% !important; }

.flg-2-12 { width: 16.66667%; }

.flg-2-12-max { width: 16.66667% !important; }

.flg-ml-2-12 { margin-left: 16.66667%; }

.flg-ml-2-12-max { margin-left: 16.66667% !important; }

.flg-3-12 { width: 25%; }

.flg-3-12-max { width: 25% !important; }

.flg-ml-3-12 { margin-left: 25%; }

.flg-ml-3-12-max { margin-left: 25% !important; }

.flg-4-12 { width: 33.33333%; }

.flg-4-12-max { width: 33.33333% !important; }

.flg-ml-4-12 { margin-left: 33.33333%; }

.flg-ml-4-12-max { margin-left: 33.33333% !important; }

.flg-5-12 { width: 41.66667%; }

.flg-5-12-max { width: 41.66667% !important; }

.flg-ml-5-12 { margin-left: 41.66667%; }

.flg-ml-5-12-max { margin-left: 41.66667% !important; }

.flg-6-12 { width: 50%; }

.flg-6-12-max { width: 50% !important; }

.flg-ml-6-12 { margin-left: 50%; }

.flg-ml-6-12-max { margin-left: 50% !important; }

.flg-7-12 { width: 58.33333%; }

.flg-7-12-max { width: 58.33333% !important; }

.flg-ml-7-12 { margin-left: 58.33333%; }

.flg-ml-7-12-max { margin-left: 58.33333% !important; }

.flg-8-12 { width: 66.66667%; }

.flg-8-12-max { width: 66.66667% !important; }

.flg-ml-8-12 { margin-left: 66.66667%; }

.flg-ml-8-12-max { margin-left: 66.66667% !important; }

.flg-9-12 { width: 75%; }

.flg-9-12-max { width: 75% !important; }

.flg-ml-9-12 { margin-left: 75%; }

.flg-ml-9-12-max { margin-left: 75% !important; }

.flg-10-12 { width: 83.33333%; }

.flg-10-12-max { width: 83.33333% !important; }

.flg-ml-10-12 { margin-left: 83.33333%; }

.flg-ml-10-12-max { margin-left: 83.33333% !important; }

.flg-11-12 { width: 91.66667%; }

.flg-11-12-max { width: 91.66667% !important; }

.flg-ml-11-12 { margin-left: 91.66667%; }

.flg-ml-11-12-max { margin-left: 91.66667% !important; }

.flg-12-12 { width: 100%; }

.flg-12-12-max { width: 100% !important; }

.flg-desk-hide { display: none; }

.flg-desk-hide-max { display: none !important; }

.flg-desk-show { display: block; }

.flg-desk-show-max { display: block !important; }

/*	================================================================================ */
/*	Responsive layouts for tablet. */
/*	================================================================================ */
@media only screen and (max-width: 1250px) { .flg-tab-1-1 { width: 100%; }
  .flg-tab-1-1-max { width: 100% !important; }
  .flg-tab-1-2 { width: 50%; }
  .flg-tab-1-2-max { width: 50% !important; }
  .flg-tab-ml-1-2 { margin-left: 50%; }
  .flg-tab-ml-1-2-max { margin-left: 50% !important; }
  .flg-tab-2-2 { width: 100%; }
  .flg-tab-2-2-max { width: 100% !important; }
  .flg-tab-1-3 { width: 33.33333%; }
  .flg-tab-1-3-max { width: 33.33333% !important; }
  .flg-tab-ml-1-3 { margin-left: 33.33333%; }
  .flg-tab-ml-1-3-max { margin-left: 33.33333% !important; }
  .flg-tab-2-3 { width: 66.66667%; }
  .flg-tab-2-3-max { width: 66.66667% !important; }
  .flg-tab-ml-2-3 { margin-left: 66.66667%; }
  .flg-tab-ml-2-3-max { margin-left: 66.66667% !important; }
  .flg-tab-3-3 { width: 100%; }
  .flg-tab-3-3-max { width: 100% !important; }
  .flg-tab-1-4 { width: 25%; }
  .flg-tab-1-4-max { width: 25% !important; }
  .flg-tab-ml-1-4 { margin-left: 25%; }
  .flg-tab-ml-1-4-max { margin-left: 25% !important; }
  .flg-tab-2-4 { width: 50%; }
  .flg-tab-2-4-max { width: 50% !important; }
  .flg-tab-ml-2-4 { margin-left: 50%; }
  .flg-tab-ml-2-4-max { margin-left: 50% !important; }
  .flg-tab-3-4 { width: 75%; }
  .flg-tab-3-4-max { width: 75% !important; }
  .flg-tab-ml-3-4 { margin-left: 75%; }
  .flg-tab-ml-3-4-max { margin-left: 75% !important; }
  .flg-tab-4-4 { width: 100%; }
  .flg-tab-4-4-max { width: 100% !important; }
  .flg-tab-1-5 { width: 20%; }
  .flg-tab-1-5-max { width: 20% !important; }
  .flg-tab-ml-1-5 { margin-left: 20%; }
  .flg-tab-ml-1-5-max { margin-left: 20% !important; }
  .flg-tab-2-5 { width: 40%; }
  .flg-tab-2-5-max { width: 40% !important; }
  .flg-tab-ml-2-5 { margin-left: 40%; }
  .flg-tab-ml-2-5-max { margin-left: 40% !important; }
  .flg-tab-3-5 { width: 60%; }
  .flg-tab-3-5-max { width: 60% !important; }
  .flg-tab-ml-3-5 { margin-left: 60%; }
  .flg-tab-ml-3-5-max { margin-left: 60% !important; }
  .flg-tab-4-5 { width: 80%; }
  .flg-tab-4-5-max { width: 80% !important; }
  .flg-tab-ml-4-5 { margin-left: 80%; }
  .flg-tab-ml-4-5-max { margin-left: 80% !important; }
  .flg-tab-5-5 { width: 100%; }
  .flg-tab-5-5-max { width: 100% !important; }
  .flg-tab-1-6 { width: 16.66667%; }
  .flg-tab-1-6-max { width: 16.66667% !important; }
  .flg-tab-ml-1-6 { margin-left: 16.66667%; }
  .flg-tab-ml-1-6-max { margin-left: 16.66667% !important; }
  .flg-tab-2-6 { width: 33.33333%; }
  .flg-tab-2-6-max { width: 33.33333% !important; }
  .flg-tab-ml-2-6 { margin-left: 33.33333%; }
  .flg-tab-ml-2-6-max { margin-left: 33.33333% !important; }
  .flg-tab-3-6 { width: 50%; }
  .flg-tab-3-6-max { width: 50% !important; }
  .flg-tab-ml-3-6 { margin-left: 50%; }
  .flg-tab-ml-3-6-max { margin-left: 50% !important; }
  .flg-tab-4-6 { width: 66.66667%; }
  .flg-tab-4-6-max { width: 66.66667% !important; }
  .flg-tab-ml-4-6 { margin-left: 66.66667%; }
  .flg-tab-ml-4-6-max { margin-left: 66.66667% !important; }
  .flg-tab-5-6 { width: 83.33333%; }
  .flg-tab-5-6-max { width: 83.33333% !important; }
  .flg-tab-ml-5-6 { margin-left: 83.33333%; }
  .flg-tab-ml-5-6-max { margin-left: 83.33333% !important; }
  .flg-tab-6-6 { width: 100%; }
  .flg-tab-6-6-max { width: 100% !important; }
  .flg-tab-1-7 { width: 14.28571%; }
  .flg-tab-1-7-max { width: 14.28571% !important; }
  .flg-tab-ml-1-7 { margin-left: 14.28571%; }
  .flg-tab-ml-1-7-max { margin-left: 14.28571% !important; }
  .flg-tab-2-7 { width: 28.57143%; }
  .flg-tab-2-7-max { width: 28.57143% !important; }
  .flg-tab-ml-2-7 { margin-left: 28.57143%; }
  .flg-tab-ml-2-7-max { margin-left: 28.57143% !important; }
  .flg-tab-3-7 { width: 42.85714%; }
  .flg-tab-3-7-max { width: 42.85714% !important; }
  .flg-tab-ml-3-7 { margin-left: 42.85714%; }
  .flg-tab-ml-3-7-max { margin-left: 42.85714% !important; }
  .flg-tab-4-7 { width: 57.14286%; }
  .flg-tab-4-7-max { width: 57.14286% !important; }
  .flg-tab-ml-4-7 { margin-left: 57.14286%; }
  .flg-tab-ml-4-7-max { margin-left: 57.14286% !important; }
  .flg-tab-5-7 { width: 71.42857%; }
  .flg-tab-5-7-max { width: 71.42857% !important; }
  .flg-tab-ml-5-7 { margin-left: 71.42857%; }
  .flg-tab-ml-5-7-max { margin-left: 71.42857% !important; }
  .flg-tab-6-7 { width: 85.71429%; }
  .flg-tab-6-7-max { width: 85.71429% !important; }
  .flg-tab-ml-6-7 { margin-left: 85.71429%; }
  .flg-tab-ml-6-7-max { margin-left: 85.71429% !important; }
  .flg-tab-7-7 { width: 100%; }
  .flg-tab-7-7-max { width: 100% !important; }
  .flg-tab-1-8 { width: 12.5%; }
  .flg-tab-1-8-max { width: 12.5% !important; }
  .flg-tab-ml-1-8 { margin-left: 12.5%; }
  .flg-tab-ml-1-8-max { margin-left: 12.5% !important; }
  .flg-tab-2-8 { width: 25%; }
  .flg-tab-2-8-max { width: 25% !important; }
  .flg-tab-ml-2-8 { margin-left: 25%; }
  .flg-tab-ml-2-8-max { margin-left: 25% !important; }
  .flg-tab-3-8 { width: 37.5%; }
  .flg-tab-3-8-max { width: 37.5% !important; }
  .flg-tab-ml-3-8 { margin-left: 37.5%; }
  .flg-tab-ml-3-8-max { margin-left: 37.5% !important; }
  .flg-tab-4-8 { width: 50%; }
  .flg-tab-4-8-max { width: 50% !important; }
  .flg-tab-ml-4-8 { margin-left: 50%; }
  .flg-tab-ml-4-8-max { margin-left: 50% !important; }
  .flg-tab-5-8 { width: 62.5%; }
  .flg-tab-5-8-max { width: 62.5% !important; }
  .flg-tab-ml-5-8 { margin-left: 62.5%; }
  .flg-tab-ml-5-8-max { margin-left: 62.5% !important; }
  .flg-tab-6-8 { width: 75%; }
  .flg-tab-6-8-max { width: 75% !important; }
  .flg-tab-ml-6-8 { margin-left: 75%; }
  .flg-tab-ml-6-8-max { margin-left: 75% !important; }
  .flg-tab-7-8 { width: 87.5%; }
  .flg-tab-7-8-max { width: 87.5% !important; }
  .flg-tab-ml-7-8 { margin-left: 87.5%; }
  .flg-tab-ml-7-8-max { margin-left: 87.5% !important; }
  .flg-tab-8-8 { width: 100%; }
  .flg-tab-8-8-max { width: 100% !important; }
  .flg-tab-1-9 { width: 11.11111%; }
  .flg-tab-1-9-max { width: 11.11111% !important; }
  .flg-tab-ml-1-9 { margin-left: 11.11111%; }
  .flg-tab-ml-1-9-max { margin-left: 11.11111% !important; }
  .flg-tab-2-9 { width: 22.22222%; }
  .flg-tab-2-9-max { width: 22.22222% !important; }
  .flg-tab-ml-2-9 { margin-left: 22.22222%; }
  .flg-tab-ml-2-9-max { margin-left: 22.22222% !important; }
  .flg-tab-3-9 { width: 33.33333%; }
  .flg-tab-3-9-max { width: 33.33333% !important; }
  .flg-tab-ml-3-9 { margin-left: 33.33333%; }
  .flg-tab-ml-3-9-max { margin-left: 33.33333% !important; }
  .flg-tab-4-9 { width: 44.44444%; }
  .flg-tab-4-9-max { width: 44.44444% !important; }
  .flg-tab-ml-4-9 { margin-left: 44.44444%; }
  .flg-tab-ml-4-9-max { margin-left: 44.44444% !important; }
  .flg-tab-5-9 { width: 55.55556%; }
  .flg-tab-5-9-max { width: 55.55556% !important; }
  .flg-tab-ml-5-9 { margin-left: 55.55556%; }
  .flg-tab-ml-5-9-max { margin-left: 55.55556% !important; }
  .flg-tab-6-9 { width: 66.66667%; }
  .flg-tab-6-9-max { width: 66.66667% !important; }
  .flg-tab-ml-6-9 { margin-left: 66.66667%; }
  .flg-tab-ml-6-9-max { margin-left: 66.66667% !important; }
  .flg-tab-7-9 { width: 77.77778%; }
  .flg-tab-7-9-max { width: 77.77778% !important; }
  .flg-tab-ml-7-9 { margin-left: 77.77778%; }
  .flg-tab-ml-7-9-max { margin-left: 77.77778% !important; }
  .flg-tab-8-9 { width: 88.88889%; }
  .flg-tab-8-9-max { width: 88.88889% !important; }
  .flg-tab-ml-8-9 { margin-left: 88.88889%; }
  .flg-tab-ml-8-9-max { margin-left: 88.88889% !important; }
  .flg-tab-9-9 { width: 100%; }
  .flg-tab-9-9-max { width: 100% !important; }
  .flg-tab-1-10 { width: 10%; }
  .flg-tab-1-10-max { width: 10% !important; }
  .flg-tab-ml-1-10 { margin-left: 10%; }
  .flg-tab-ml-1-10-max { margin-left: 10% !important; }
  .flg-tab-2-10 { width: 20%; }
  .flg-tab-2-10-max { width: 20% !important; }
  .flg-tab-ml-2-10 { margin-left: 20%; }
  .flg-tab-ml-2-10-max { margin-left: 20% !important; }
  .flg-tab-3-10 { width: 30%; }
  .flg-tab-3-10-max { width: 30% !important; }
  .flg-tab-ml-3-10 { margin-left: 30%; }
  .flg-tab-ml-3-10-max { margin-left: 30% !important; }
  .flg-tab-4-10 { width: 40%; }
  .flg-tab-4-10-max { width: 40% !important; }
  .flg-tab-ml-4-10 { margin-left: 40%; }
  .flg-tab-ml-4-10-max { margin-left: 40% !important; }
  .flg-tab-5-10 { width: 50%; }
  .flg-tab-5-10-max { width: 50% !important; }
  .flg-tab-ml-5-10 { margin-left: 50%; }
  .flg-tab-ml-5-10-max { margin-left: 50% !important; }
  .flg-tab-6-10 { width: 60%; }
  .flg-tab-6-10-max { width: 60% !important; }
  .flg-tab-ml-6-10 { margin-left: 60%; }
  .flg-tab-ml-6-10-max { margin-left: 60% !important; }
  .flg-tab-7-10 { width: 70%; }
  .flg-tab-7-10-max { width: 70% !important; }
  .flg-tab-ml-7-10 { margin-left: 70%; }
  .flg-tab-ml-7-10-max { margin-left: 70% !important; }
  .flg-tab-8-10 { width: 80%; }
  .flg-tab-8-10-max { width: 80% !important; }
  .flg-tab-ml-8-10 { margin-left: 80%; }
  .flg-tab-ml-8-10-max { margin-left: 80% !important; }
  .flg-tab-9-10 { width: 90%; }
  .flg-tab-9-10-max { width: 90% !important; }
  .flg-tab-ml-9-10 { margin-left: 90%; }
  .flg-tab-ml-9-10-max { margin-left: 90% !important; }
  .flg-tab-10-10 { width: 100%; }
  .flg-tab-10-10-max { width: 100% !important; }
  .flg-tab-1-11 { width: 9.09091%; }
  .flg-tab-1-11-max { width: 9.09091% !important; }
  .flg-tab-ml-1-11 { margin-left: 9.09091%; }
  .flg-tab-ml-1-11-max { margin-left: 9.09091% !important; }
  .flg-tab-2-11 { width: 18.18182%; }
  .flg-tab-2-11-max { width: 18.18182% !important; }
  .flg-tab-ml-2-11 { margin-left: 18.18182%; }
  .flg-tab-ml-2-11-max { margin-left: 18.18182% !important; }
  .flg-tab-3-11 { width: 27.27273%; }
  .flg-tab-3-11-max { width: 27.27273% !important; }
  .flg-tab-ml-3-11 { margin-left: 27.27273%; }
  .flg-tab-ml-3-11-max { margin-left: 27.27273% !important; }
  .flg-tab-4-11 { width: 36.36364%; }
  .flg-tab-4-11-max { width: 36.36364% !important; }
  .flg-tab-ml-4-11 { margin-left: 36.36364%; }
  .flg-tab-ml-4-11-max { margin-left: 36.36364% !important; }
  .flg-tab-5-11 { width: 45.45455%; }
  .flg-tab-5-11-max { width: 45.45455% !important; }
  .flg-tab-ml-5-11 { margin-left: 45.45455%; }
  .flg-tab-ml-5-11-max { margin-left: 45.45455% !important; }
  .flg-tab-6-11 { width: 54.54545%; }
  .flg-tab-6-11-max { width: 54.54545% !important; }
  .flg-tab-ml-6-11 { margin-left: 54.54545%; }
  .flg-tab-ml-6-11-max { margin-left: 54.54545% !important; }
  .flg-tab-7-11 { width: 63.63636%; }
  .flg-tab-7-11-max { width: 63.63636% !important; }
  .flg-tab-ml-7-11 { margin-left: 63.63636%; }
  .flg-tab-ml-7-11-max { margin-left: 63.63636% !important; }
  .flg-tab-8-11 { width: 72.72727%; }
  .flg-tab-8-11-max { width: 72.72727% !important; }
  .flg-tab-ml-8-11 { margin-left: 72.72727%; }
  .flg-tab-ml-8-11-max { margin-left: 72.72727% !important; }
  .flg-tab-9-11 { width: 81.81818%; }
  .flg-tab-9-11-max { width: 81.81818% !important; }
  .flg-tab-ml-9-11 { margin-left: 81.81818%; }
  .flg-tab-ml-9-11-max { margin-left: 81.81818% !important; }
  .flg-tab-10-11 { width: 90.90909%; }
  .flg-tab-10-11-max { width: 90.90909% !important; }
  .flg-tab-ml-10-11 { margin-left: 90.90909%; }
  .flg-tab-ml-10-11-max { margin-left: 90.90909% !important; }
  .flg-tab-11-11 { width: 100%; }
  .flg-tab-11-11-max { width: 100% !important; }
  .flg-tab-1-12 { width: 8.33333%; }
  .flg-tab-1-12-max { width: 8.33333% !important; }
  .flg-tab-ml-1-12 { margin-left: 8.33333%; }
  .flg-tab-ml-1-12-max { margin-left: 8.33333% !important; }
  .flg-tab-2-12 { width: 16.66667%; }
  .flg-tab-2-12-max { width: 16.66667% !important; }
  .flg-tab-ml-2-12 { margin-left: 16.66667%; }
  .flg-tab-ml-2-12-max { margin-left: 16.66667% !important; }
  .flg-tab-3-12 { width: 25%; }
  .flg-tab-3-12-max { width: 25% !important; }
  .flg-tab-ml-3-12 { margin-left: 25%; }
  .flg-tab-ml-3-12-max { margin-left: 25% !important; }
  .flg-tab-4-12 { width: 33.33333%; }
  .flg-tab-4-12-max { width: 33.33333% !important; }
  .flg-tab-ml-4-12 { margin-left: 33.33333%; }
  .flg-tab-ml-4-12-max { margin-left: 33.33333% !important; }
  .flg-tab-5-12 { width: 41.66667%; }
  .flg-tab-5-12-max { width: 41.66667% !important; }
  .flg-tab-ml-5-12 { margin-left: 41.66667%; }
  .flg-tab-ml-5-12-max { margin-left: 41.66667% !important; }
  .flg-tab-6-12 { width: 50%; }
  .flg-tab-6-12-max { width: 50% !important; }
  .flg-tab-ml-6-12 { margin-left: 50%; }
  .flg-tab-ml-6-12-max { margin-left: 50% !important; }
  .flg-tab-7-12 { width: 58.33333%; }
  .flg-tab-7-12-max { width: 58.33333% !important; }
  .flg-tab-ml-7-12 { margin-left: 58.33333%; }
  .flg-tab-ml-7-12-max { margin-left: 58.33333% !important; }
  .flg-tab-8-12 { width: 66.66667%; }
  .flg-tab-8-12-max { width: 66.66667% !important; }
  .flg-tab-ml-8-12 { margin-left: 66.66667%; }
  .flg-tab-ml-8-12-max { margin-left: 66.66667% !important; }
  .flg-tab-9-12 { width: 75%; }
  .flg-tab-9-12-max { width: 75% !important; }
  .flg-tab-ml-9-12 { margin-left: 75%; }
  .flg-tab-ml-9-12-max { margin-left: 75% !important; }
  .flg-tab-10-12 { width: 83.33333%; }
  .flg-tab-10-12-max { width: 83.33333% !important; }
  .flg-tab-ml-10-12 { margin-left: 83.33333%; }
  .flg-tab-ml-10-12-max { margin-left: 83.33333% !important; }
  .flg-tab-11-12 { width: 91.66667%; }
  .flg-tab-11-12-max { width: 91.66667% !important; }
  .flg-tab-ml-11-12 { margin-left: 91.66667%; }
  .flg-tab-ml-11-12-max { margin-left: 91.66667% !important; }
  .flg-tab-12-12 { width: 100%; }
  .flg-tab-12-12-max { width: 100% !important; }
  .flg-tab-ml-0 { margin-left: 0; }
  .flg-tab-hide { display: none; }
  .flg-tab-hide-max { display: none !important; }
  .flg-tab-show { display: block; }
  .flg-tab-show-max { display: block !important; } }
/*	================================================================================ */
/*	Responsive layouts for mobile. */
/*	================================================================================ */
@media only screen and (max-width: 769px) { .flg-mob-1-1 { width: 100%; }
  .flg-mob-1-1-max { width: 100% !important; }
  .flg-mob-1-2 { width: 50%; }
  .flg-mob-1-2-max { width: 50% !important; }
  .flg-mob-ml-1-2 { margin-left: 50%; }
  .flg-mob-ml-1-2-max { margin-left: 50% !important; }
  .flg-mob-2-2 { width: 100%; }
  .flg-mob-2-2-max { width: 100% !important; }
  .flg-mob-1-3 { width: 33.33333%; }
  .flg-mob-1-3-max { width: 33.33333% !important; }
  .flg-mob-ml-1-3 { margin-left: 33.33333%; }
  .flg-mob-ml-1-3-max { margin-left: 33.33333% !important; }
  .flg-mob-2-3 { width: 66.66667%; }
  .flg-mob-2-3-max { width: 66.66667% !important; }
  .flg-mob-ml-2-3 { margin-left: 66.66667%; }
  .flg-mob-ml-2-3-max { margin-left: 66.66667% !important; }
  .flg-mob-3-3 { width: 100%; }
  .flg-mob-3-3-max { width: 100% !important; }
  .flg-mob-1-4 { width: 25%; }
  .flg-mob-1-4-max { width: 25% !important; }
  .flg-mob-ml-1-4 { margin-left: 25%; }
  .flg-mob-ml-1-4-max { margin-left: 25% !important; }
  .flg-mob-2-4 { width: 50%; }
  .flg-mob-2-4-max { width: 50% !important; }
  .flg-mob-ml-2-4 { margin-left: 50%; }
  .flg-mob-ml-2-4-max { margin-left: 50% !important; }
  .flg-mob-3-4 { width: 75%; }
  .flg-mob-3-4-max { width: 75% !important; }
  .flg-mob-ml-3-4 { margin-left: 75%; }
  .flg-mob-ml-3-4-max { margin-left: 75% !important; }
  .flg-mob-4-4 { width: 100%; }
  .flg-mob-4-4-max { width: 100% !important; }
  .flg-mob-1-5 { width: 20%; }
  .flg-mob-1-5-max { width: 20% !important; }
  .flg-mob-ml-1-5 { margin-left: 20%; }
  .flg-mob-ml-1-5-max { margin-left: 20% !important; }
  .flg-mob-2-5 { width: 40%; }
  .flg-mob-2-5-max { width: 40% !important; }
  .flg-mob-ml-2-5 { margin-left: 40%; }
  .flg-mob-ml-2-5-max { margin-left: 40% !important; }
  .flg-mob-3-5 { width: 60%; }
  .flg-mob-3-5-max { width: 60% !important; }
  .flg-mob-ml-3-5 { margin-left: 60%; }
  .flg-mob-ml-3-5-max { margin-left: 60% !important; }
  .flg-mob-4-5 { width: 80%; }
  .flg-mob-4-5-max { width: 80% !important; }
  .flg-mob-ml-4-5 { margin-left: 80%; }
  .flg-mob-ml-4-5-max { margin-left: 80% !important; }
  .flg-mob-5-5 { width: 100%; }
  .flg-mob-5-5-max { width: 100% !important; }
  .flg-mob-1-6 { width: 16.66667%; }
  .flg-mob-1-6-max { width: 16.66667% !important; }
  .flg-mob-ml-1-6 { margin-left: 16.66667%; }
  .flg-mob-ml-1-6-max { margin-left: 16.66667% !important; }
  .flg-mob-2-6 { width: 33.33333%; }
  .flg-mob-2-6-max { width: 33.33333% !important; }
  .flg-mob-ml-2-6 { margin-left: 33.33333%; }
  .flg-mob-ml-2-6-max { margin-left: 33.33333% !important; }
  .flg-mob-3-6 { width: 50%; }
  .flg-mob-3-6-max { width: 50% !important; }
  .flg-mob-ml-3-6 { margin-left: 50%; }
  .flg-mob-ml-3-6-max { margin-left: 50% !important; }
  .flg-mob-4-6 { width: 66.66667%; }
  .flg-mob-4-6-max { width: 66.66667% !important; }
  .flg-mob-ml-4-6 { margin-left: 66.66667%; }
  .flg-mob-ml-4-6-max { margin-left: 66.66667% !important; }
  .flg-mob-5-6 { width: 83.33333%; }
  .flg-mob-5-6-max { width: 83.33333% !important; }
  .flg-mob-ml-5-6 { margin-left: 83.33333%; }
  .flg-mob-ml-5-6-max { margin-left: 83.33333% !important; }
  .flg-mob-6-6 { width: 100%; }
  .flg-mob-6-6-max { width: 100% !important; }
  .flg-mob-1-7 { width: 14.28571%; }
  .flg-mob-1-7-max { width: 14.28571% !important; }
  .flg-mob-ml-1-7 { margin-left: 14.28571%; }
  .flg-mob-ml-1-7-max { margin-left: 14.28571% !important; }
  .flg-mob-2-7 { width: 28.57143%; }
  .flg-mob-2-7-max { width: 28.57143% !important; }
  .flg-mob-ml-2-7 { margin-left: 28.57143%; }
  .flg-mob-ml-2-7-max { margin-left: 28.57143% !important; }
  .flg-mob-3-7 { width: 42.85714%; }
  .flg-mob-3-7-max { width: 42.85714% !important; }
  .flg-mob-ml-3-7 { margin-left: 42.85714%; }
  .flg-mob-ml-3-7-max { margin-left: 42.85714% !important; }
  .flg-mob-4-7 { width: 57.14286%; }
  .flg-mob-4-7-max { width: 57.14286% !important; }
  .flg-mob-ml-4-7 { margin-left: 57.14286%; }
  .flg-mob-ml-4-7-max { margin-left: 57.14286% !important; }
  .flg-mob-5-7 { width: 71.42857%; }
  .flg-mob-5-7-max { width: 71.42857% !important; }
  .flg-mob-ml-5-7 { margin-left: 71.42857%; }
  .flg-mob-ml-5-7-max { margin-left: 71.42857% !important; }
  .flg-mob-6-7 { width: 85.71429%; }
  .flg-mob-6-7-max { width: 85.71429% !important; }
  .flg-mob-ml-6-7 { margin-left: 85.71429%; }
  .flg-mob-ml-6-7-max { margin-left: 85.71429% !important; }
  .flg-mob-7-7 { width: 100%; }
  .flg-mob-7-7-max { width: 100% !important; }
  .flg-mob-1-8 { width: 12.5%; }
  .flg-mob-1-8-max { width: 12.5% !important; }
  .flg-mob-ml-1-8 { margin-left: 12.5%; }
  .flg-mob-ml-1-8-max { margin-left: 12.5% !important; }
  .flg-mob-2-8 { width: 25%; }
  .flg-mob-2-8-max { width: 25% !important; }
  .flg-mob-ml-2-8 { margin-left: 25%; }
  .flg-mob-ml-2-8-max { margin-left: 25% !important; }
  .flg-mob-3-8 { width: 37.5%; }
  .flg-mob-3-8-max { width: 37.5% !important; }
  .flg-mob-ml-3-8 { margin-left: 37.5%; }
  .flg-mob-ml-3-8-max { margin-left: 37.5% !important; }
  .flg-mob-4-8 { width: 50%; }
  .flg-mob-4-8-max { width: 50% !important; }
  .flg-mob-ml-4-8 { margin-left: 50%; }
  .flg-mob-ml-4-8-max { margin-left: 50% !important; }
  .flg-mob-5-8 { width: 62.5%; }
  .flg-mob-5-8-max { width: 62.5% !important; }
  .flg-mob-ml-5-8 { margin-left: 62.5%; }
  .flg-mob-ml-5-8-max { margin-left: 62.5% !important; }
  .flg-mob-6-8 { width: 75%; }
  .flg-mob-6-8-max { width: 75% !important; }
  .flg-mob-ml-6-8 { margin-left: 75%; }
  .flg-mob-ml-6-8-max { margin-left: 75% !important; }
  .flg-mob-7-8 { width: 87.5%; }
  .flg-mob-7-8-max { width: 87.5% !important; }
  .flg-mob-ml-7-8 { margin-left: 87.5%; }
  .flg-mob-ml-7-8-max { margin-left: 87.5% !important; }
  .flg-mob-8-8 { width: 100%; }
  .flg-mob-8-8-max { width: 100% !important; }
  .flg-mob-1-9 { width: 11.11111%; }
  .flg-mob-1-9-max { width: 11.11111% !important; }
  .flg-mob-ml-1-9 { margin-left: 11.11111%; }
  .flg-mob-ml-1-9-max { margin-left: 11.11111% !important; }
  .flg-mob-2-9 { width: 22.22222%; }
  .flg-mob-2-9-max { width: 22.22222% !important; }
  .flg-mob-ml-2-9 { margin-left: 22.22222%; }
  .flg-mob-ml-2-9-max { margin-left: 22.22222% !important; }
  .flg-mob-3-9 { width: 33.33333%; }
  .flg-mob-3-9-max { width: 33.33333% !important; }
  .flg-mob-ml-3-9 { margin-left: 33.33333%; }
  .flg-mob-ml-3-9-max { margin-left: 33.33333% !important; }
  .flg-mob-4-9 { width: 44.44444%; }
  .flg-mob-4-9-max { width: 44.44444% !important; }
  .flg-mob-ml-4-9 { margin-left: 44.44444%; }
  .flg-mob-ml-4-9-max { margin-left: 44.44444% !important; }
  .flg-mob-5-9 { width: 55.55556%; }
  .flg-mob-5-9-max { width: 55.55556% !important; }
  .flg-mob-ml-5-9 { margin-left: 55.55556%; }
  .flg-mob-ml-5-9-max { margin-left: 55.55556% !important; }
  .flg-mob-6-9 { width: 66.66667%; }
  .flg-mob-6-9-max { width: 66.66667% !important; }
  .flg-mob-ml-6-9 { margin-left: 66.66667%; }
  .flg-mob-ml-6-9-max { margin-left: 66.66667% !important; }
  .flg-mob-7-9 { width: 77.77778%; }
  .flg-mob-7-9-max { width: 77.77778% !important; }
  .flg-mob-ml-7-9 { margin-left: 77.77778%; }
  .flg-mob-ml-7-9-max { margin-left: 77.77778% !important; }
  .flg-mob-8-9 { width: 88.88889%; }
  .flg-mob-8-9-max { width: 88.88889% !important; }
  .flg-mob-ml-8-9 { margin-left: 88.88889%; }
  .flg-mob-ml-8-9-max { margin-left: 88.88889% !important; }
  .flg-mob-9-9 { width: 100%; }
  .flg-mob-9-9-max { width: 100% !important; }
  .flg-mob-1-10 { width: 10%; }
  .flg-mob-1-10-max { width: 10% !important; }
  .flg-mob-ml-1-10 { margin-left: 10%; }
  .flg-mob-ml-1-10-max { margin-left: 10% !important; }
  .flg-mob-2-10 { width: 20%; }
  .flg-mob-2-10-max { width: 20% !important; }
  .flg-mob-ml-2-10 { margin-left: 20%; }
  .flg-mob-ml-2-10-max { margin-left: 20% !important; }
  .flg-mob-3-10 { width: 30%; }
  .flg-mob-3-10-max { width: 30% !important; }
  .flg-mob-ml-3-10 { margin-left: 30%; }
  .flg-mob-ml-3-10-max { margin-left: 30% !important; }
  .flg-mob-4-10 { width: 40%; }
  .flg-mob-4-10-max { width: 40% !important; }
  .flg-mob-ml-4-10 { margin-left: 40%; }
  .flg-mob-ml-4-10-max { margin-left: 40% !important; }
  .flg-mob-5-10 { width: 50%; }
  .flg-mob-5-10-max { width: 50% !important; }
  .flg-mob-ml-5-10 { margin-left: 50%; }
  .flg-mob-ml-5-10-max { margin-left: 50% !important; }
  .flg-mob-6-10 { width: 60%; }
  .flg-mob-6-10-max { width: 60% !important; }
  .flg-mob-ml-6-10 { margin-left: 60%; }
  .flg-mob-ml-6-10-max { margin-left: 60% !important; }
  .flg-mob-7-10 { width: 70%; }
  .flg-mob-7-10-max { width: 70% !important; }
  .flg-mob-ml-7-10 { margin-left: 70%; }
  .flg-mob-ml-7-10-max { margin-left: 70% !important; }
  .flg-mob-8-10 { width: 80%; }
  .flg-mob-8-10-max { width: 80% !important; }
  .flg-mob-ml-8-10 { margin-left: 80%; }
  .flg-mob-ml-8-10-max { margin-left: 80% !important; }
  .flg-mob-9-10 { width: 90%; }
  .flg-mob-9-10-max { width: 90% !important; }
  .flg-mob-ml-9-10 { margin-left: 90%; }
  .flg-mob-ml-9-10-max { margin-left: 90% !important; }
  .flg-mob-10-10 { width: 100%; }
  .flg-mob-10-10-max { width: 100% !important; }
  .flg-mob-1-11 { width: 9.09091%; }
  .flg-mob-1-11-max { width: 9.09091% !important; }
  .flg-mob-ml-1-11 { margin-left: 9.09091%; }
  .flg-mob-ml-1-11-max { margin-left: 9.09091% !important; }
  .flg-mob-2-11 { width: 18.18182%; }
  .flg-mob-2-11-max { width: 18.18182% !important; }
  .flg-mob-ml-2-11 { margin-left: 18.18182%; }
  .flg-mob-ml-2-11-max { margin-left: 18.18182% !important; }
  .flg-mob-3-11 { width: 27.27273%; }
  .flg-mob-3-11-max { width: 27.27273% !important; }
  .flg-mob-ml-3-11 { margin-left: 27.27273%; }
  .flg-mob-ml-3-11-max { margin-left: 27.27273% !important; }
  .flg-mob-4-11 { width: 36.36364%; }
  .flg-mob-4-11-max { width: 36.36364% !important; }
  .flg-mob-ml-4-11 { margin-left: 36.36364%; }
  .flg-mob-ml-4-11-max { margin-left: 36.36364% !important; }
  .flg-mob-5-11 { width: 45.45455%; }
  .flg-mob-5-11-max { width: 45.45455% !important; }
  .flg-mob-ml-5-11 { margin-left: 45.45455%; }
  .flg-mob-ml-5-11-max { margin-left: 45.45455% !important; }
  .flg-mob-6-11 { width: 54.54545%; }
  .flg-mob-6-11-max { width: 54.54545% !important; }
  .flg-mob-ml-6-11 { margin-left: 54.54545%; }
  .flg-mob-ml-6-11-max { margin-left: 54.54545% !important; }
  .flg-mob-7-11 { width: 63.63636%; }
  .flg-mob-7-11-max { width: 63.63636% !important; }
  .flg-mob-ml-7-11 { margin-left: 63.63636%; }
  .flg-mob-ml-7-11-max { margin-left: 63.63636% !important; }
  .flg-mob-8-11 { width: 72.72727%; }
  .flg-mob-8-11-max { width: 72.72727% !important; }
  .flg-mob-ml-8-11 { margin-left: 72.72727%; }
  .flg-mob-ml-8-11-max { margin-left: 72.72727% !important; }
  .flg-mob-9-11 { width: 81.81818%; }
  .flg-mob-9-11-max { width: 81.81818% !important; }
  .flg-mob-ml-9-11 { margin-left: 81.81818%; }
  .flg-mob-ml-9-11-max { margin-left: 81.81818% !important; }
  .flg-mob-10-11 { width: 90.90909%; }
  .flg-mob-10-11-max { width: 90.90909% !important; }
  .flg-mob-ml-10-11 { margin-left: 90.90909%; }
  .flg-mob-ml-10-11-max { margin-left: 90.90909% !important; }
  .flg-mob-11-11 { width: 100%; }
  .flg-mob-11-11-max { width: 100% !important; }
  .flg-mob-1-12 { width: 8.33333%; }
  .flg-mob-1-12-max { width: 8.33333% !important; }
  .flg-mob-ml-1-12 { margin-left: 8.33333%; }
  .flg-mob-ml-1-12-max { margin-left: 8.33333% !important; }
  .flg-mob-2-12 { width: 16.66667%; }
  .flg-mob-2-12-max { width: 16.66667% !important; }
  .flg-mob-ml-2-12 { margin-left: 16.66667%; }
  .flg-mob-ml-2-12-max { margin-left: 16.66667% !important; }
  .flg-mob-3-12 { width: 25%; }
  .flg-mob-3-12-max { width: 25% !important; }
  .flg-mob-ml-3-12 { margin-left: 25%; }
  .flg-mob-ml-3-12-max { margin-left: 25% !important; }
  .flg-mob-4-12 { width: 33.33333%; }
  .flg-mob-4-12-max { width: 33.33333% !important; }
  .flg-mob-ml-4-12 { margin-left: 33.33333%; }
  .flg-mob-ml-4-12-max { margin-left: 33.33333% !important; }
  .flg-mob-5-12 { width: 41.66667%; }
  .flg-mob-5-12-max { width: 41.66667% !important; }
  .flg-mob-ml-5-12 { margin-left: 41.66667%; }
  .flg-mob-ml-5-12-max { margin-left: 41.66667% !important; }
  .flg-mob-6-12 { width: 50%; }
  .flg-mob-6-12-max { width: 50% !important; }
  .flg-mob-ml-6-12 { margin-left: 50%; }
  .flg-mob-ml-6-12-max { margin-left: 50% !important; }
  .flg-mob-7-12 { width: 58.33333%; }
  .flg-mob-7-12-max { width: 58.33333% !important; }
  .flg-mob-ml-7-12 { margin-left: 58.33333%; }
  .flg-mob-ml-7-12-max { margin-left: 58.33333% !important; }
  .flg-mob-8-12 { width: 66.66667%; }
  .flg-mob-8-12-max { width: 66.66667% !important; }
  .flg-mob-ml-8-12 { margin-left: 66.66667%; }
  .flg-mob-ml-8-12-max { margin-left: 66.66667% !important; }
  .flg-mob-9-12 { width: 75%; }
  .flg-mob-9-12-max { width: 75% !important; }
  .flg-mob-ml-9-12 { margin-left: 75%; }
  .flg-mob-ml-9-12-max { margin-left: 75% !important; }
  .flg-mob-10-12 { width: 83.33333%; }
  .flg-mob-10-12-max { width: 83.33333% !important; }
  .flg-mob-ml-10-12 { margin-left: 83.33333%; }
  .flg-mob-ml-10-12-max { margin-left: 83.33333% !important; }
  .flg-mob-11-12 { width: 91.66667%; }
  .flg-mob-11-12-max { width: 91.66667% !important; }
  .flg-mob-ml-11-12 { margin-left: 91.66667%; }
  .flg-mob-ml-11-12-max { margin-left: 91.66667% !important; }
  .flg-mob-12-12 { width: 100%; }
  .flg-mob-12-12-max { width: 100% !important; }
  .flg-mob-ml-0 { margin-left: 0; }
  .flg-mob-hide { display: none; }
  .flg-mob-hide-max { display: none !important; }
  .flg-mob-show { display: block; }
  .flg-mob-show-max { display: block !important; } }
